/* ---------------------------------- Reset --------------------------------- */
html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: $veryPaleBlue;
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  color: $grayishBlue;
  overflow-x: hidden;
}

h1 {
  margin: 0;
  margin-bottom: 1.2rem;
  font-size: 2.8rem;
  font-weight: 800;
  color: $darkBlue;
}

/* ------------------------------- Background ------------------------------- */
.background {
  width: 100vw;
  height: 56vh;
  background-image: url(/images/bg-pattern.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right right;
  border: none;
}

/* --------------------------------- Layout --------------------------------- */

.flex {
  display: flex;
}
