input[type="range"] {
  height: 46px;
  -webkit-appearance: none;
  margin-bottom: 4rem;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: $softCyan;
  border-radius: 10px;
  border: 0px solid #000000;
}

input[type="range"]::-webkit-slider-thumb {
  box-shadow: 0px 15px 30px rgba($strongCyan, 0.4);
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: $strongCyan;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -16px;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: $softCyan;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 0px 0px 0px #000000;
  background: $softCyan;
  border-radius: 10px;
  // border: 0px solid #000000;
}
input[type="range"]::-moz-range-thumb {
  box-shadow: 0px 12px 50px $softCyan;
  border: 0px solid $softCyan;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: $strongCyan;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 8px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower {
  background: $softCyan;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-fill-upper {
  background: $white;
  border: 0px solid #000000;
  border-radius: 20px;
  box-shadow: 0px 0px 0px #000000;
}
input[type="range"]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 0px 0px 2px $softCyan;
  border: 0px solid $softCyan;
  height: 40px;
  width: 40px;
  border-radius: 50px;
  background: $strongCyan;
  background-image: url("/images/icon-slider.svg");
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
}
input[type="range"]:focus::-ms-fill-lower {
  background: $softCyan;
}
input[type="range"]:focus::-ms-fill-upper {
  background: $white;
}
