.presentation {
  background-image: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 39.5rem;
  height: 14.5rem;
  margin: 5.4rem auto;
  margin-top: 6.7rem;

  @include breakpoint-down(small) {
    max-width: 32.6rem;

    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}
