.presentation {
  background-image: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 39.5rem;
  height: 14.5rem;
  margin: 5.4rem auto;
  margin-top: 6.7rem;

  h1 {
    margin-bottom: 1.2rem;
  }
}
