.presentation {
  background-image: url("/images/pattern-circles.svg");
  background-repeat: no-repeat;
  background-position: top center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 39.5rem;
  height: 14.5rem;
  margin: 7.1rem auto;
  margin-top: 6.7rem;

  @include breakpoint-down(medium) {
    max-width: 35rem;
    margin-top: 5.6rem;
    margin-bottom: 3.2rem;
    h1 {
      font-size: 2rem;
    }

    p {
      font-size: 1.3rem;
    }
  }
}
