.pricing {
  max-width: 54rem;
  margin: auto;
  padding: 3.8rem 4.5rem;
  background-color: $white;
  border-radius: 5px;
  box-shadow: 5px 3px 20px rgba(#000, 0.1);

  // DETAILS
  &__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.4rem;

    p:first-child {
      font-weight: 800;
      letter-spacing: 2px;
    }
  }

  &__cost {
    font-size: 4rem;
    font-weight: 800;
    color: $darkBlue;
  }

  // BILLING
  &__billing {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 4.4rem;

    span {
      font-size: 1.2rem;
      margin-right: 1.6rem;
    }

    button {
      position: relative;
      width: 4.3rem;
      height: 2.2rem;
      margin-right: 1.6rem;
      background-color: $lightGrayishBlue1;
      border: 0px;
      border-radius: 15px;
      cursor: pointer;

      &:focus {
        outline: none;
      }

      &::before {
        content: "";
        display: inline-block;
        position: absolute;
        top: 4px;
        left: 4px;
        bottom: 4px;
        right: 2.5rem;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: $white;
      }

      &::after {
        content: "";
        display: none;
        position: absolute;
        top: 4px;
        left: 2.5rem;
        bottom: 4px;
        right: 4px;
        width: 1.4rem;
        height: 1.4rem;
        border-radius: 50%;
        background-color: $white;
      }
    }
  }

  &__discount {
    padding: 0.3rem 0.8rem;
    font-size: 1rem;
    font-weight: 800;
    background-color: $lightGrayRed;
    color: $lightRed;
    border-radius: 15px;
  }

  hr {
    width: 54rem;
    height: 1px;
    margin-bottom: 3.2em;
    background-color: $lightGrayishBlue1;
    color: $lightGrayishBlue1;
    border: none;
    transform: translateX(-45px);
  }

  // RESUME & CTA
  &__resume {
    align-self: center;

    &--item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 1rem;

      img {
        width: 0.7rem;
        height: 0.6rem;
        margin-right: 1.6rem;
      }

      p {
        width: 15rem;
        font-size: 1.2rem;
        text-align: left;
      }
    }
  }

  &__cta {
    margin: auto;
    justify-content: flex-end;
    align-self: center;

    button {
      padding: 1.3rem 4.6rem;
      background-color: $darkBlue;
      font-size: 1.2rem;
      font-weight: 800;
      color: $white;
      border: 0px;
      border-radius: 20px;
      cursor: pointer;
      box-shadow: 1px 0px 4px rgba(#000, 0.4);
      transition: all 0.25s ease-in-out;

      &:hover {
        transform: translateY(-1px);
        box-shadow: 2px 3px 15px rgba(#000, 0.2);
      }

      &:visited,
      &:active {
        outline: none;
        transform: translateY(3px);
        box-shadow: 1px 0px 4px rgba(#000, 0.4);
      }

      &:focus {
        outline: none;
      }
    }
  }
}
