//////////////////
// Colors

// Primary
$softCyan: hsl(174, 77%, 80%);
$strongCyan: hsl(174, 86%, 45%);
$lightGrayRed: hsl(14, 92%, 95%);
$lightRed: hsl(15, 100%, 70%);
$paleBlue: hsl(226, 100%, 87%);

// Neutral
$white: hsl(0, 0%, 100%);
$veryPaleBlue: hsl(230, 100%, 99%);
$lightGrayishBlue1: hsl(224, 65%, 95%);
$lightGrayishBlue2: hsl(223, 50%, 87%);
$grayishBlue: hsl(225, 20%, 60%);
$darkBlue: hsl(227, 35%, 25%);

//////////////////
// CSS Variables
:root {
  --display-none: none;
  --display-ib: inline-block;
}
